<div id="<%= dom_id llamada %>">
  <p>
    <strong>Cliente:</strong>
    <%= llamada.cliente_id %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= llamada.motivo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= llamada.fecha %>
  </p>

</div>
